!!!5
html
	head
		meta(charset="utf-8")
		title Lemongrass
		meta(name='viewport', content="width=device-width, initial-scale=1.0")
		//link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/basic-jquery-slider.css')
		link(rel='stylesheet', href='/stylesheets/lemongrass.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic')
		script(src='/javascripts/jquery-1.7.2.min.js')
		script(src='/javascripts/jquery.cycle.lite.js')
		script(src='/javascripts/catering.js')
		script(src='/javascripts/StackBlur.js')
		script(src='/javascripts/basic-jquery-slider.min.js')
		script //setTimeout(function(){window.location = window.location}, 300);
	body
		section#catering_popup
			section#catering_popup_contents
				h2
				ul
				
		section.container#main
			section#header
				h1#logo
					img(src="/images/logo.png")
				section(style='position:relative')
					ul#main-menu
						li
							a(href="/") Restaurants
						li
							a(href="/food-catering") Catering
						li
							a(href="/about-us") About us

			section#contents!=body
			section#footer
				a t
				a f
				a#show-contact p
