!!!5
html(lang='en')
	head
		meta(charset='utf-8')
		title EVO
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
		link(href='/stylesheets/evo.css', rel='stylesheet')
		// if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/website.js')
		style ul.breadcrumb li {text-transform:capitalize}
	body
		div.container.navbar-wrapper
			div.navbar.navbar-inverse
				div.navbar-inner
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='/') EVO
					div.nav-collapse.collapse
						ul.nav
							li.active
								a(href='/products') Products
							-for(var menu in menus.menus){
								li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown')=menus.menus[menu].name
										b.caret
									ul.dropdown-menu
										-each sub in menus.menus[menu].subcats
											li
												a(href=sub.url)=sub.name
										li.divider
										li
											a(href= menus.menus[menu].url) All products
							-}
		div#contents!=body
		hr.featurette-divider
		footer
			div.row
				div.span3
					h5 EVO Catalogue
					ul.unstyled
						li
							a(href='#') Watch us on YouTube
						li
							a(href='#') Add us on Facebook
						li
							a(href='#') Follow us on Twitter
						li
							a(href='#') Follow us on Pinterest
				div.span3
					h5 Customer Relations
					ul.unstyled
						-each page in menus.footer.customer_relations
							li
								a(href='/customer-relations/' + page.name.replace(/ /g, '-').toLowerCase())=page.name

				div.span3
					h5 About EVO
					ul.unstyled
						-each page in menus.footer.about
							li
								a(href='/about/' + page.name.replace(/ /g, '-').toLowerCase())=page.name
				div.span3
					h5 Working at EVO
					ul.unstyled
						-each page in menus.footer.working
							li
								a(href='/working/' + page.name.replace(/ /g, '-').toLowerCase())=page.name
			div#copyright.row
				p.pull-right
					a(href='#') Back to top
				p
					| © 2012 Company, Inc. ·
					a(href='#') Privacy
					| ·
					a(href='#') Terms

