!!!5
html(lang='en')
	head
		meta(charset='utf-8')
		title EVO
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
		link(href='/stylesheets/evo.css', rel='stylesheet')
		// if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/website.js')
		style ul.breadcrumb li {text-transform:capitalize}
	body
		div.container.navbar-wrapper
			div.navbar.navbar-inverse
				div.navbar-inner
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='/') EVO
					div.nav-collapse.collapse
						ul.nav
							li.active
								a(href='/products') Products
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Living Room
									b.caret
								ul.dropdown-menu
									li
										a(href='category.html') Sofas & armchairs
									li
										a(href='category.html') TV & media furniture
									li
										a(href='category.html') Living room storage
									li
										a(href='category.html') Coffee & side tables
									li
										a(href='category.html') Living room lighting
									li
										a(href='category.html') Living room textiles & rugs
									li.divider
									li
										a(href='sub.html') All products
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Bedroom
									b.caret
								ul.dropdown-menu
									li
										a(href='category.html') Beds
									li
										a(href='category.html') Bedroom storage
									li
										a(href='category.html') Lighting
									li
										a(href='category.html') Textiles & rugs
									li
										a(href='category.html') Mirrors
									li.divider
									li
										a(href='sub.html') All products
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Kitchen & Appliances
									b.caret
								ul.dropdown-menu
									li
										a(href='category.html') Kitchen cabinets & fronts
									li
										a(href='category.html') Interior organizers
									li
										a(href='category.html') Appliances
									li
										a(href='category.html') Free-standing kitchens
									li
										a(href='category.html') Countertops
									li
										a(href='category.html') Kitchen faucets & sinks
									li
										a(href='category.html') Wall storage
									li
										a(href='category.html') Wall panels
									li
										a(href='category.html') Kitchen islands & carts
									li
										a(href='category.html') Step stools & step ladders
									li
										a(href='category.html') Kitchen integrated lighting
									li
										a(href='category.html') Knobs & lighting
									li.divider
									li
										a(href='sub.html') All products
							li
								a(href='#contact') Textiles and Rugs
		div#contents!=body
		hr.featurette-divider
		footer
			div.row
				div.span3
					h5 EVO Catalogue
					ul.unstyled
						li
							a(href='#') Watch us on YouTube
						li
							a(href='#') Add us on Facebook
						li
							a(href='#') Follow us on Twitter
						li
							a(href='#') Follow us on Pinterest
				div.span3
					h5 Customer Relations
					ul.unstyled
						li
							a(href='/services') EVO Services
						li
							a(href='/contact') Contact Us
						li
							a(href='/returns') Returns Policy

				div.span3
					h5 About EVO
					ul.unstyled
						li
							a(href='/business-idea') Our Business Idea
						li
							a(href='/business') EVO Business
				div.span3
					h5 Working at EVO
					ul.unstyled
						li
							a(href='/jobs') Jobs Available
			div#copyright.row
				p.pull-right
					a(href='#') Back to top
				p
					| © 2012 Company, Inc. ·
					a(href='#') Privacy
					| ·
					a(href='#') Terms

