!!!5
html.fuelux
	head
		title CMS
		meta(name="robots", content="noindex, nofollow")
		//link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/fuelux.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-fileupload.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-wysihtml5.css')
		link(rel='stylesheet', href='/stylesheets/jquery.jcrop.css')
		link(rel='stylesheet', href='/stylesheets/cms.css')
		script(type='text/javascript', src='/javascripts/underscore.js')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/wysihtml5-0.4.0pre.min.js')
		//script(type='text/javascript', src='/javascripts/thaana.js')
		//script(type='text/javascript', src='/javascripts/hogan-2.0.0.js')
		script(type='text/javascript', src='/javascripts/bootstrap.js')
		script(type='text/javascript', src='/javascripts/bootstrap-wysihtml5.js')
		script(type='text/javascript', src='/cms/templates.js')
		script(type='text/javascript', src='/javascripts/wizard.js')
		script(type='text/javascript', src='/javascripts/bootstrap-fileupload.min.js')
		script(type='text/javascript', src='/javascripts/jquery.jcrop.min.js')
		script(type='text/javascript', src='/javascripts/cms.js')
		style body{padding:40px} .modal{left: 33% !important;width: 952px !important;} .wizard-content .control-label{font-size:15px;}.step-content{padding:15px;}			.loading{cursor:progress;}			textarea{width:500px !important; height:150px !important;}
	body!= body
